
.app .count {
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  text-transform: uppercase;
}
.app .count h3 {
  line-height: 8.6rem;
  margin-right: 1rem;
}
.app .buttons button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  font-size: 5em;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
}

.section1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.textCount {
 font-size: 50px;
}

.errorM {
  text-align: center;
  color: red;
  font-weight: bold;
}